


@media (max-width:1180px){
    .important_list{
        gap:30px 20px;    
    }
    .important_item_img{
        width: 100%;
    }
    .tabs_content-item{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1040px){
    .video_content{
        width: 100%;
    }
    .tabs_btn{
        padding: 0 0 50px;
        gap: 20px; 
    }
}

@media (max-width:860px){

    .menu_btn{
        display:flex;
    }
    .menu_btn,
    .logo{
        position: relative;
        z-index: 10; 
        }
    .menu_list{
        position: absolute;
        z-index: 5;
        background-color: #151515;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 200px;
        height: 100vh; 
        transform: translateY(-100%);
        transition: transform .3 ease;       
    }
    .menu_list.menu_list--active{
        transform: translateY(0%);  

    }

    .why_lease-list{
        grid-template-columns: repeat(2,1fr);
        gap:20px;
    }
    .important_list{
        grid-template-columns: repeat(2,1fr);
    }
    .tabs_content-item{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:768px){
    .title{
        font-size: 70px;
    }
    .top_link{
        padding: 16px;
        max-width: 360px;
        font-size: 28px;
    }
    .video_content{
        height: 400px;
    }
    .footer_menu{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }

}
@media (max-width:650px){
    .tabs_content-item{
        grid-template-columns: repeat(1,1fr);
    }
    .tabs_btn-item{
        font-size: 18px;
    }
    .blog-items{
        grid-template-columns: repeat(1,1fr);
    }
    .contacts{
        padding: 50px 0;
    }
    .form_input{
        width: 100%;
        margin-bottom: 30px;
    }
    .contacts_text{
        padding: 0;
    }
}
@media (max-width:540px){
    .title{
        font-size: 60px;
    }
    .top_link{
        max-width: 310px;
        font-size: 24px;
    }
    /* для черточек слайдера */
    .swiper-pagination-horizontal,
    .swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 10px;
    }
    .swiper-pagination-bullet{
        width: 35px;
    }
    .why_lease-list{
        grid-template-columns: repeat(1,1fr);
    }
    .why-lease{
        padding: 50px 0;
    }
    .section_title{
        font-size: 34px;
    }
    .how_does-list{
        padding: 30px 0 40px;
    }
    .how-does{
        padding-bottom: 50px;
    }
    .video{
        padding-bottom: 50px;
    }
    .video_content{
        height: 200px;
    }
   .how_does-item{
    padding: 65px 0 19px 0;
    margin-right: auto;
   }
   .how_does-item::before{
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 32px;
   }
   .important_list{
    grid-template-columns: repeat(1,1fr);
   }
   .app,
   .copy_nav-list{
    flex-direction: column;
    align-items: center;
   }
   .copy_nav-list{
    gap: 20px;
   }
   .blog_item_title{
    margin-bottom: 10px;
}
.blog_item_link{
    margin-left: auto;
}
.tabs_btn{
    flex-direction:column ;
}
.choose{
    padding: 50px 0;
}
.tabs_content-item{
    gap: 40px;
}
.blog{
    padding-bottom: 50px;
}
}
